.wrapper.auth-wp{display:table;margin:auto;width:600px}
.auth-page-wp{display:table-cell;position:relative;vertical-align:middle;text-align:center}
.auth-page{border-radius:4px;background-color:#eff3f7;box-shadow:0 4px 6.86px .14px rgba(13,16,7,.29);width:588px;height:482px}