body{margin:0;padding:0;background:url(../img/bg.jpg)center}
.header{background:#eff3f7}
.header-in{width:1200px;margin:auto}
.header-in .logo{display:inline-block;width:240px;height:40px}
.social-links{margin:0;padding:0;list-style-type:none;float:right}
.social-links li{margin:0;padding:0;list-style-type:none;display:inline-block}
.footer{background:#eff3f7}
.main{width:690px}