.myworks-list{margin:10px 20px;min-height:100%}
.myworks-item{position:relative;float:left;width:183px;margin-bottom:40px;margin-right:30px}
.myworks-item .myworks-item-img{height:125px;overflow:hidden;border:2px solid #3ba8c0;border-radius:4px;margin-bottom:7px}
.myworks-item .myworks-item-name{text-align:center;padding-bottom:6px}
.myworks-item .myworks-item-name a{text-decoration:none;font:13px fira_sanslight_italic;color:#3ba8c0}
.myworks-item .myworks-item-descr{padding:0 4px;font:15px fira_sanslight;line-height:20px;color:#4a545d;text-align:center}
.myworks-item.add-project{text-decoration:none}
.myworks-item.add-project .myworks-item-img{border-style:dashed;border-width:1px;width:180px;height:127px;background:url(../img/new-site-ico.png)center 33px no-repeat rgba(236,251,255,.639);font:13px fira_sanslight;color:#3ba8c0}
.myworks-item.add-project .myworks-item-img:hover{cursor:pointer}
.myworks-item.add-project .myworks-item-img span{position:relative;left:40px;top:75px}
.myworks-item .overlay{position:absolute;display:none;width:179px;height:125px;top:2px;left:2px;background-color:rgba(1,108,164,.749);z-index:100;cursor:pointer;text-align:center}
.myworks-item .overlay .title{border-width:2.5px;border-color:#eff3f7;border-style:solid;border-radius:6px;display:inline-block;margin-top:55px;padding:0 3px;font:12px fira_sansbook;color:#eff3f7}
.myworks-item.hovered .overlay,.myworks-item:hover .overlay{display:block}
.myworks-item:nth-child(3n+3){margin-right:0}
.overlay{position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.add-project-wp{background-color:#eff3f7;width:362px;border-radius:4px;overflow:hidden}
.add-project-wp .inp-field{height:38px;font:13px fira_sanslight;padding:0 10px;width:298px;margin-left:2px;margin-bottom:8px}
.add-project-wp .inp-field.form-message{width:380px;height:180px}
.add-project-wp .inp-field.inp-field-captcha{height:34px}
.add-project-wp .inp-field-textarea{padding:10px 12px 10px 8px;height:90px}
.add-project-wp .btn{border-top:2px solid #48cbe8;font:19px fira_sansbook;padding:0 22px;height:35px;border-radius:4px}
.add-project-wp .btn[type=submit]{margin-right:120px}
.add-project-wp .btn[type=submit]:active{border-top:2px solid #3ba8c0}
.add-project-wp .add-project-btn{margin-left:90px;padding:0 30px}
.add-project-header{position:relative;background-color:#48cbe8;padding:7px 0;text-indent:10px;font:25px fira_sansregular;color:#fff;position:relative;margin-bottom:7px}
.add-project-header:after{content:' ';display:block;background-color:#67dffa;z-index:10;width:100%;height:9px;position:absolute;bottom:0}
.add-project-close{text-indent:-99999em;cursor:pointer;width:25px;height:25px;background:url(../img/close.png)no-repeat center;position:absolute;top:10px;right:12px}
.add-project-form{padding:0 18px 22px 18px}
.add-project-form-label{display:block;font:17px fira_sansbook;color:#959aa8}
.file{overflow:hidden;position:relative;cursor:pointer}
.file .input-file{width:252px;margin-right:-10px;display:inline-block}
.file .input-file span{padding-top:10px;display:block;color:#48cbe8;line-height:17px}
.file input{color:#48cbe8;position:absolute;width:100%;height:80%;top:0;left:0;opacity:0;z-index:9999}
.btn-file{position:relative;top:-10px;display:inline-block;background:url(../img/upload-btn.png)center center no-repeat #48cbe8;display:inline-block;text-indent:-9999em;width:53px;height:41px;border-radius:0 4px 4px 0}
.input-file{width:100%;font-weight:300;color:#48cbe8;background-color:#fff}
.success-mes{display:none;position:absolute;left:0;top:200px;padding:21px;border-radius:4px;background-color:#eff3f7;box-shadow:0 6px 13px 4px #0d1007;width:320px}
.success-mes .success-mes-in{padding:0 10px;font-family:fira_sansbook;color:#49BB7B;border:1px solid #49bb7b;border-radius:4px;background-color:#b8e1ce;position:relative}
.success-mes .success-mes-in .success-mes-close{position:absolute;top:5px;right:5px;width:11px;height:11px;background:url(../img/close-green.png)no-repeat center;cursor:pointer}
.success-mes .success-mes-in .success-mes-title{font-size:25px}
.success-mes .success-mes-in .success-mes-content{font-size:15px}
.fail-mes{display:none;position:relative;border-radius:4px;color:#f97e76;border:1px solid #f97e76;background-color:#f2cccd;padding:0 10px;font-family:fira_sansbook;margin-bottom:7px}
.fail-mes .fail-mes-close{position:absolute;top:5px;right:5px;width:11px;height:11px;background:url(../img/close-red.png)no-repeat center;cursor:pointer}
.fail-mes .fail-mes-title{font-size:25px}
.fail-mes .fail-mes-content{font-size:15px}