@import 'includes';

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  height: $footer_height;
  display: block;
}

// helpers

.clearfix:before,
.clearfix:after,
.container:before,
.container:after, {
  content: " ";
  display: table;
}

.container:after,
.clearfix:after {
  clear: both;
}

// my styles

html {
  height: 100%;
}

body {
  @include clear_mp;
  background: url('../img/bg.png') repeat;
  height: 100%;
}

.header {
  background: url('../img/separator.png') bottom center no-repeat $header_footer_bg_color;
  margin-bottom: 39px;

}

.header-in {
  max-width: $max_width;
  min-width: $min_width;
  margin: auto;
  height: 119px;
  position: relative;
  .logo {
    position: absolute;
    top: 31px;
    left: -7px;
    display: inline-block;
    width: 257px;
    height: 42px;
    .logo-img {
      width: 100%;
    }
    .logo-txt {
      font-size: 0;
    }
    // bg in sprite
  }
}

.social-links {
  @include clear_list(inline-block);
  position: absolute;
  top: 36px;
  right: 0;
  font-size: 0px;

}

.social-links .soc-ico {
  width: 47px;
  height: 47px;
}

.social-links .social-links-item {
  margin-left: 24px;
}

.social-links .social-links-item:first-child {
  margin-left: 0;
}

.footer {
  background: url('../img/separator.png') top center no-repeat $header_footer_bg_color;

  height: $footer_height;
  margin-top: -$footer_height;
}

.footer-in {
  width: $min_width;
  margin: auto;
  padding-top: 12px;
  position: relative;

  .copyright {
    font: 13px 'fira_sanslight';
    position: relative;
    left: 260px;
  }
}

.main-container {
  width: $min_width;
  margin: auto;
}

.left-col {
  float: left;
  width: 250px;

}

.left-col-menu {
  @include clear_mp;
  @include clear_list(block);
  background-color: $left_menu_item_bg;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 24px;
}

.left-col-menu-item {
  font: 20px 'fira_sansbook';

  border-bottom: 2px solid #3ba8c0;
  margin: 0 10px !important;
  .left-col-menu-item-link {
    display: block;
    text-decoration: none;
    color: #959aa8;
    padding: 18px 0 20px 28px;
    margin: 0 -10px;
  }
  .left-col-menu-item-link:hover {
    /*font: 21px 'fira_sansbook';*/
    color: #3ba8c0;
  }
}

.left-col-menu-item:last-child {
  border-bottom: none;
}

.left-col-menu-item.active {
  background-color: $left_menu_item_bg_active;
  color: #3ba8c0;
  border-bottom: none;
  font: 23px 'fira_sansbook';
  margin: -2px 0 0 0 !important;
  .left-col-menu-item-link {
    padding: 22px 0 18px 28px;
    margin: 0;
    color: white;
  }
  .left-col-menu-item-link:hover {
    color: white;
  }
}

.left-col-menu-item.active:first-child {
  margin-top: 0;
}

.left-col {

  .contacts-wp {
    border-radius: 4px;
    overflow: hidden;
  }
  .contacts-h {
    color: white;
    font-size: 21px;
    padding: 10px 0 10px 20px;

    background-color: $left_contacts_h_color;
  }
  .contacts {
    @include clear_list(block);
  }
  .contacts-item {
    .contacts-item-link {
      display: block;
      padding: 10px 0 10px 82px;
      text-decoration: none;
      color: white;
    }
    .contacts-item-link:hover {
      text-decoration: underline;
    }

  }
  .mail {
    background-color: $left_contacts_mail;
    .contacts-item-link {
      background: url('../img/ico-mail.png') 42px center no-repeat
    }

  }
  .phone {
    background-color: $left_contacts_phone;
    .contacts-item-link {
      background: url('../img/ico-phone.png') 42px center no-repeat
    }
  }
  .skype {
    background-color: $left_contacts_skype;
    .contacts-item-link {
      background: url('../img/ico-skype.png') 42px center no-repeat
    }
  }

}

.right-col {
  float: right;
  width: 650px;
}

.content-block {
  border-radius: 4px;
  background-color: $header_footer_bg_color;
  padding-bottom: 20px;
  margin-bottom: 24px;
}

.content-block:last-child {
  margin-bottom: 40px
}

.content-block-header {
  font: 27px 'fira_sansbook';
  color: #3ba8c0;
  padding: 12px 22px 12px 22px;
  display: inline-block;

  border-bottom: 2px solid #3ba8c0;
  margin-bottom: 21px;
}

.content-block-header-text {
  font: 17px 'fira_sansmedium';
  color: #5a636b;
}

.inp-field {
  border: 1px solid rgb(72, 203, 232);
  border-radius: 4px;
  height: 60px;
  color: #48cbe8;
  font: 17px 'fira_sanslight';
  padding: 0 20px;

  &.inp-field-error {
    border-color: rgb(249, 126, 118);
    background-color: rgba(249, 126, 118, 0.329);
  }

}

.btn {
  display: inline-block;
  padding: 0px 20px;
  height: 55px;
  font: 36px 'fira_sansbook';
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(72, 203, 232);
  position: relative;
  border-bottom: 2px solid rgb(59, 168, 192);
  &:active {
    outline: none;
    border-top: 2px solid rgb(59, 168, 192);
    border-bottom: 2px solid #48cbe8;

  }
  &:focus {
    outline: none;
  }
}

.inp-field::placeholder {
  color: #48cbe8;
}

.inp-field:active {
  outline: none;
}

.inp-field:focus {
  outline: none;
}

.qtip-rounded.qtip-style {
  border-radius: 4px;
  border-color:#f97e76;
  background-color: #f97e76;
  border-color: #f97e76;
  font-family: 'fira_sansbook';
  color: #ffffff;
  font-size: 13px;
}
